@model List<Album>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2 class="text-center">Base de datos en memoria (Álbumes)</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>Album</th>
            <th>Artista</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Artista.Nombre</td>
                <td>@item.Precio</td>
            </tr>
        }
    </tbody>
</table>
